<!-- <h1>Welcome to {{hotelName}}</h1> -->

<app-header></app-header>

<div [hidden]="hideRooms">
    <div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}"
    [innerText]="numberOfRooms"></div>
</div>
{{ rooms?.availableRooms ?? "No rooms"}}


<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms?.availableRooms">
    <app-room-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></app-room-list>
</div>
<button (click)="toggle()">Toggle</button>